<a href="https://colab.research.google.com/github/Cristian1308/Project-Machine-Learning/blob/main/Detecci%C3%B3n_de_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Se importa la librería pandas para el análisis de datos.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Se carga el dataset card_transdata.csv desde Google Drive.

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/Exploratorio/card_transdata.csv")

Se cuentan los valores nulos por columna. Esto ayuda a detectar columnas incompletas.

In [4]:
print("Valores nulos por columna:\n")
print(df.isnull().sum())

Valores nulos por columna:

distance_from_home                0
distance_from_last_transaction    0
ratio_to_median_purchase_price    0
repeat_retailer                   0
used_chip                         0
used_pin_number                   0
online_order                      0
fraud                             0
dtype: int64

Se filtran e imprimen solo las columnas que tienen uno o más valores nulos.

In [5]:
print("\nColumnas con al menos un valor nulo:\n")
print(df.isnull().sum()[df.isnull().sum() > 0])

Columnas con al menos un valor nulo:

Series([], dtype: int64)